* {
    color: #CA4;
    font-family: 'Cinzel', serif;
}

body {
    background-image: url("https://bnetcmsus-a.akamaihd.net/cms/content_entry_media/FJPT5455KR5K1589912863345.jpg");
    background-color: #CA4;
    background-size: cover;
    background-repeat: no-repeat;
}